[user]
	name = Stefano Zanella
	email = zanella.stefano@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
; 10lift related customized configuration
[includeIf "gitdir:10lift/"]
  path = ~/.gitconfig_10lift
