[user]
	name = Stefano Zanella
	email = zanella.stefano@gmail.com
  signingkey = FC07AC5C
[commit]
  gpgsign = true
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
; Configuration for Balanced Family related contributions
[includeIf "gitdir:BalancedFamily/"]
  path = ~/.gitconfig_balanced.family
; Configuration for Trana related contributions
[includeIf "gitdir:Trana-Gmbh/"]
  path = ~/.gitconfig_trana
[init]
	defaultBranch = main
